!!!
%html
  %head
    %meta{:content => "IE=7", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "text/html; charset=EUC-JP", "http-equiv" => "Content-Type"}
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "description"}
    %title 株式会社
    %link{:href => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/css/shared.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/css/job_1310a.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    :css
      h1 {
        text-align: left;
        font-size: 14px;
      }
      .logo {
        text-align: left;
      }
      .bgstyle {
        color: white;
        background-color: #330000;
      }
      .jobborder {
        background-color: #CCCCCC;
      }
      .jobbg {
        background-color: #FFFFFF;
      }
      .detailbg {
        width:150px;
        color: black;
        background-color: #F0F0F0;
      }
      .detailbg_horizon {
        color: black;
        background-color: #F0F0F0;
      }
      h3.title {
        padding: 5px 5px 5px 20px;
        background:url(https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/cursor_green_right.gif) no-repeat 6px 9px ;
        margin: 0px;
        font-size: 14px;
        font-weight: bold;
        line-height:1.3em;
        color:#333333;
      }
      .tips { color: #333333; }
      .warn { color: #333333; }
      .warn_caption { color: #333333; }
    %meta{:content => "entry", :name => "WT.si_n"}
    %meta{:content => "entryform", :name => "WT.si_p"}
    :javascript
      var tracking_hash = 'entry';
    %script{:src => "https://cf.cpcdn.com/info/assets/jobs/js/jposting_ga.js?ver=1.1", :type => "text/javascript"}
  %body
    / /Start Header/
    %a#pagetop
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:style => "background-image: url(https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/header_top_shadow.gif)"}
                %img{:alt => "", :height => "3", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
            %tr
              %td.bgstyle
                %img{:alt => "", :height => "40", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}
                  %a#header_bar_left
            %tr
              %td{:style => "background-image: url(https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/header_bottom_shadow.gif)"}
                %img{:alt => "", :height => "3", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
        %td{:width => "3"}
          %img{:alt => "", :height => "46", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/header_left_shadow.gif", :width => "3"}/
        %td{:width => "620"}
          %h1
        %td{:width => "3"}
          %img{:alt => "", :height => "46", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/header_right_shadow.gif", :width => "3"}/
        %td
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:style => "background-image: url(https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/header_top_shadow.gif)"}
                %img{:alt => "", :height => "3", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
            %tr
              %td.bgstyle
                %img{:alt => "", :height => "40", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}
                  %a#header_bar_right
            %tr
              %td{:style => "background-image: url(https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/header_bottom_shadow.gif)"}
                %img{:alt => "", :height => "3", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td
                %img{:alt => "", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
            %tr
              %td
                %img{:alt => "", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
            %tr
              %td
                %img{:alt => "", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
        %td{:width => "3"}
          %img{:alt => "", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "3"}/
        %td{:width => "620"}
        %td{:width => "3"}
          %img{:alt => "", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "3"}/
        %td
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td
                %img{:alt => "", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
            %tr
              %td
                %img{:alt => "", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
            %tr
              %td
                %img{:alt => "", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
    / /End Header/
    / /Start PageCaption/
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "620"}
            %tr
              %td
                %h2
                  %img{:alt => "エントリーフォーム", :height => "18", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/title_entryform.gif", :width => "160"}/
                  %iframe{ src: "#{ENV['WANTEDLY_PLATFORM_URL']}/auto_fill?" + {last_name: "name_last", first_name:"name_first", first_name_katakana: "yomi_first", last_name_katakana: "yomi_last", birthday_year: "birthday_year",  birthday_month: "birthday_month", birthday_day: "birthday_day", gender: "sex", gender_male: "男", gender_female: "女", email: "email1", confirm_email: "confirm_email1", tel1: "tel1_1", tel2: "tel1_2", tel3: "tel1_3", statement: "free_answer1", github_url: "free_answer2", introduction: "free_answer3"}.to_query, seamless: "", style: "float: right;border: none;height: 40px;width: 240px;"}
            %tr
              %td
                %img{:alt => "", :height => "1", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/img_line_dashed.gif", :width => "620"}/
            %tr
              %td
                %p
                  %img{:alt => "", :hspace => "5", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/cursor_green_left.gif"}
                    %a{:href => "job.phtml"} 職種一覧へ
          / /End PageCaption/
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "620"}
            %tr
              %td
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "620"}
            %tr
              %td
                %img{:alt => "", :height => "3", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/frame_top_shadow.gif", :width => "100%"}/
            %tr
              %td
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "620"}
                  %tr
                    %td{:background => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/freme_left_shadow.gif", :width => "3"}
                      %img{:alt => "", :height => "1", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "3"}/
                    %td
                      .jobbox
                        %h3.title カナは全角、英数字は半角で入力してください。また、「*」は必須項目です。
                        %form.entry{:action => "entry.phtml", :enctype => "multipart/form-data", :method => "POST", :name => "_entry_form"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tr
                              %td.jobborder
                                %table.entrytable{:cellpadding => "3", :cellspacing => "1", :width => "100%"}
                                  %tr
                                    %td.bgstyle{:colspan => "2"}
                                      %h3.job 個人情報
                                  %tr
                                    %td.detailbg{:width => "150"}
                                      %table
                                        %tr
                                          %td
                                            %strong *
                                          %td 氏名 ( 漢字 )
                                    %td.jobbg{:width => "475"}
                                      %table{:cellpadding => "1", :cellspacing => "1"}
                                        %tr
                                          %td{:align => "right", :width => "30"} 姓
                                          %td
                                            %input.required2{:maxlength => "128", :name => "name_last", :size => "16", :type => "text", :value => ""}/
                                          %td{:align => "right", :width => "30"} 名
                                          %td
                                            %input.required2{:maxlength => "128", :name => "name_first", :size => "16", :type => "text", :value => ""}/
                                  %tr
                                    %td.detailbg{:width => "150"}
                                      %table
                                        %tr
                                          %td
                                            %strong *
                                          %td 氏名 ( フリガナ )
                                    %td.jobbg{:width => "475"}
                                      %table{:cellpadding => "1", :cellspacing => "1"}
                                        %tr
                                          %td{:align => "right", :width => "30"} セイ
                                          %td
                                            %input.required2{:maxlength => "128", :name => "yomi_last", :size => "16", :type => "text", :value => ""}/
                                          %td{:align => "right", :width => "30"} メイ
                                          %td
                                            %input.required2{:maxlength => "128", :name => "yomi_first", :size => "16", :type => "text", :value => ""}
                                              %span.tips (全角カナ)
                                  %tr
                                    %td.detailbg{:width => "150"}
                                      %table
                                        %tr
                                          %td
                                            %strong *
                                          %td 生年月日
                                    %td.jobbg{:width => "475"}
                                      %select#birthday_year.required2{:name => "birthday_year"}
                                        %option{:value => ""}
                                        %option{:value => "2000"} 2000
                                        %option{:value => "1999"} 1999
                                        %option{:value => "1998"} 1998
                                        %option{:value => "1997"} 1997
                                        %option{:value => "1996"} 1996
                                        %option{:value => "1995"} 1995
                                        %option{:value => "1994"} 1994
                                        %option{:value => "1993"} 1993
                                        %option{:value => "1992"} 1992
                                        %option{:value => "1991"} 1991
                                        %option{:value => "1990"} 1990
                                        %option{:value => "1989"} 1989
                                        %option{:value => "1988"} 1988
                                        %option{:value => "1987"} 1987
                                        %option{:value => "1986"} 1986
                                        %option{:value => "1985"} 1985
                                        %option{:value => "1984"} 1984
                                        %option{:value => "1983"} 1983
                                        %option{:value => "1982"} 1982
                                        %option{:value => "1981"} 1981
                                        %option{:value => "1980"} 1980
                                        %option{:value => "1979"} 1979
                                        %option{:value => "1978"} 1978
                                        %option{:value => "1977"} 1977
                                        %option{:value => "1976"} 1976
                                        %option{:value => "1975"} 1975
                                        %option{:value => "1974"} 1974
                                        %option{:value => "1973"} 1973
                                        %option{:value => "1972"} 1972
                                        %option{:value => "1971"} 1971
                                        %option{:value => "1970"} 1970
                                        %option{:value => "1969"} 1969
                                        %option{:value => "1968"} 1968
                                        %option{:value => "1967"} 1967
                                        %option{:value => "1966"} 1966
                                        %option{:value => "1965"} 1965
                                        %option{:value => "1964"} 1964
                                        %option{:value => "1963"} 1963
                                        %option{:value => "1962"} 1962
                                        %option{:value => "1961"} 1961
                                        %option{:value => "1960"} 1960
                                        %option{:value => "1959"} 1959
                                        %option{:value => "1958"} 1958
                                        %option{:value => "1957"} 1957
                                        %option{:value => "1956"} 1956
                                        %option{:value => "1955"} 1955
                                        %option{:value => "1954"} 1954
                                        %option{:value => "1953"} 1953
                                        %option{:value => "1952"} 1952
                                        %option{:value => "1951"} 1951
                                        %option{:value => "1950"} 1950
                                        %option{:value => "1949"} 1949
                                        %option{:value => "1948"} 1948
                                        %option{:value => "1947"} 1947
                                        %option{:value => "1946"} 1946
                                        %option{:value => "1945"} 1945
                                        %option{:value => "1944"} 1944
                                        %option{:value => "1943"} 1943
                                        %option{:value => "1942"} 1942
                                        %option{:value => "1941"} 1941
                                        %option{:value => "1940"} 1940
                                        %option{:value => "1939"} 1939
                                        %option{:value => "1938"} 1938
                                        %option{:value => "1937"} 1937
                                        %option{:value => "1936"} 1936
                                        %option{:value => "1935"} 1935
                                        %option{:value => "1934"} 1934
                                        %option{:value => "1933"} 1933
                                        %option{:value => "1932"} 1932
                                        %option{:value => "1931"} 1931
                                        %option{:value => "1930"} 1930
                                        %option{:value => "1929"} 1929
                                        %option{:value => "1928"} 1928
                                        %option{:value => "1927"} 1927
                                        %option{:value => "1926"} 1926
                                        %option{:value => "1925"} 1925
                                        %option{:value => "1924"} 1924
                                        %option{:value => "1923"} 1923
                                        %option{:value => "1922"} 1922
                                        %option{:value => "1921"} 1921
                                        %option{:value => "1920"} 1920
                                        %option{:value => "1919"} 1919
                                        %option{:value => "1918"} 1918
                                        %option{:value => "1917"} 1917
                                        %option{:value => "1916"} 1916
                                        %option{:value => "1915"} 1915
                                        %option{:value => "1914"} 1914
                                        %option{:value => "1913"} 1913
                                        %option{:value => "1912"} 1912
                                        %option{:value => "1911"} 1911
                                        %option{:value => "1910"} 1910
                                        %option{:value => "1909"} 1909
                                        %option{:value => "1908"} 1908
                                        %option{:value => "1907"} 1907
                                        %option{:value => "1906"} 1906
                                        %option{:value => "1905"} 1905
                                        %option{:value => "1904"} 1904
                                        %option{:value => "1903"} 1903
                                        %option{:value => "1902"} 1902
                                        %option{:value => "1901"} 1901
                                      年
                                      %select#birthday_month.required2{:name => "birthday_month"}
                                        %option{:value => ""}
                                        %option{:value => "1"} 1
                                        %option{:value => "2"} 2
                                        %option{:value => "3"} 3
                                        %option{:value => "4"} 4
                                        %option{:value => "5"} 5
                                        %option{:value => "6"} 6
                                        %option{:value => "7"} 7
                                        %option{:value => "8"} 8
                                        %option{:value => "9"} 9
                                        %option{:value => "10"} 10
                                        %option{:value => "11"} 11
                                        %option{:value => "12"} 12
                                      月
                                      %select#birthday_day.required2{:name => "birthday_day"}
                                        %option{:value => ""}
                                        %option{:value => "1"} 1
                                        %option{:value => "2"} 2
                                        %option{:value => "3"} 3
                                        %option{:value => "4"} 4
                                        %option{:value => "5"} 5
                                        %option{:value => "6"} 6
                                        %option{:value => "7"} 7
                                        %option{:value => "8"} 8
                                        %option{:value => "9"} 9
                                        %option{:value => "10"} 10
                                        %option{:value => "11"} 11
                                        %option{:value => "12"} 12
                                        %option{:value => "13"} 13
                                        %option{:value => "14"} 14
                                        %option{:value => "15"} 15
                                        %option{:value => "16"} 16
                                        %option{:value => "17"} 17
                                        %option{:value => "18"} 18
                                        %option{:value => "19"} 19
                                        %option{:value => "20"} 20
                                        %option{:value => "21"} 21
                                        %option{:value => "22"} 22
                                        %option{:value => "23"} 23
                                        %option{:value => "24"} 24
                                        %option{:value => "25"} 25
                                        %option{:value => "26"} 26
                                        %option{:value => "27"} 27
                                        %option{:value => "28"} 28
                                        %option{:value => "29"} 29
                                        %option{:value => "30"} 30
                                        %option{:value => "31"} 31
                                      日
                                  %tr
                                    %td.detailbg{:width => "150"}
                                      %table
                                        %tr
                                          %td
                                            %strong *
                                          %td 性別
                                    %td.jobbg{:width => "475"}
                                      %span.nobr
                                        %label{:for => "sex_男"}
                                          %input.required2{:id => "sex_男", :name => "sex", :type => "radio", :value => "男"}
                                            %span.required2 男性
                                      %span.nobr
                                        %label{:for => "sex_女"}
                                          %input.required2{:id => "sex_女", :name => "sex", :type => "radio", :value => "女"}
                                            %span.required2 女性
                          %br
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tr
                                %td.jobborder
                                  %table.entrytable{:cellpadding => "3", :cellspacing => "1", :width => "100%"}
                                    %tr
                                      %td.bgstyle{:colspan => "2"}
                                        %h3.job 連絡先
                                    %tr
                                      %td.detailbg{:width => "150"}
                                        %table
                                          %tr
                                            %td
                                              %strong *
                                            %td メールアドレス
                                      %td.jobbg{:width => "475"}
                                        %span.warn
                                          ※メールアドレスはご連絡のため必ず入力をしてください。
                                          %br
                                            また、確認用はコピー＆ペーストではなく直接入力でお願いいたします。
                                            %br/
                                        %input.required2{:maxlength => "256", :name => "email1", :size => "50", :type => "text", :value => ""}
                                          %span.tips
                                            (半角)
                                            %br/
                                          %input.required2{:maxlength => "256", :name => "confirm_email1", :size => "50", :type => "text", :value => ""}
                                            %span.tips (確認用)
                                    %tr
                                      %td.detailbg{:width => "150"}
                                        %table
                                          %tr
                                            %td
                                              %strong *
                                            %td 電話番号
                                      %td.jobbg{:width => "475"}
                                        %input.required2{:maxlength => "10", :name => "tel1_1", :size => "6", :type => "text", :value => ""}
                                          \-
                                          %input.required2{:maxlength => "10", :name => "tel1_2", :size => "6", :type => "text", :value => ""}
                                            \-
                                            %input.required2{:maxlength => "10", :name => "tel1_3", :size => "6", :type => "text", :value => ""}
                                              %span.tips (半角)
                            %br
                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                %tr
                                  %td.jobborder
                                    %table.entrytable{:cellpadding => "3", :cellspacing => "1", :width => "100%"}
                                      %tr
                                        %td.bgstyle{:colspan => "2"}
                                          %h3.job 希望職種
                                      %tr
                                        %td.detailbg_horizon{:colspan => "2"}
                                          %table
                                            %tr
                                              %td
                                                %strong *
                                              %td 希望職種
                                      %tr
                                        %td.jobbg{:colspan => "2"} ソフトウェアエンジニア
                              %br
                                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                  %tr
                                    %td.jobborder
                                      %table.entrytable{:cellpadding => "3", :cellspacing => "1", :width => "100%"}
                                        %tr
                                          %td.bgstyle{:colspan => "2"}
                                            %h3.job 作品・発表資料URL
                                        %tr
                                          %td.detailbg{:width => "150"}
                                            %table
                                              %tr
                                                %td
                                                %td
                                                  作品・発表資料URL
                                                  %span.warn_caption
                                                    %br (1000文字)
                                          %td.jobbg{:width => "475"}
                                            %span.tips エンジニア・デザイナーとしてのものづくりを最も表現する、あなたが作成した Web サービス、発表資料等の URL（作品、OSS活動、研究成果、技術ブログ等）をお書きください。複数人が関わっている場合、ご自身の担当範囲も併せてお書きください。
                                            %br
                                              %textarea{:cols => "50", :name => "free_answer1", :rows => "10"}
                                %br
                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                    %tr
                                      %td.jobborder
                                        %table.entrytable{:cellpadding => "3", :cellspacing => "1", :width => "100%"}
                                          %tr
                                            %td.bgstyle{:colspan => "2"}
                                              %h3.job GitHubアカウント
                                          %tr
                                            %td.detailbg{:width => "150"}
                                              %table
                                                %tr
                                                  %td
                                                  %td
                                                    GitHubアカウント
                                                    %span.warn_caption
                                                      %br (1000文字)
                                            %td.jobbg{:width => "475"}
                                              %span.tips GitHub アカウントをお持ちの場合は、記載してください。
                                              %br
                                                %textarea{:cols => "50", :name => "free_answer2", :rows => "10"}
                                  %br
                                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                      %tr
                                        %td.jobborder
                                          %table.entrytable{:cellpadding => "3", :cellspacing => "1", :width => "100%"}
                                            %tr
                                              %td.bgstyle{:colspan => "2"}
                                                %h3.job 志望動機
                                            %tr
                                              %td.detailbg{:width => "150"}
                                                %table
                                                  %tr
                                                    %td
                                                      %strong *
                                                    %td
                                                      志望動機
                                                      %span.warn_caption
                                                        %br (1000文字)
                                              %td.jobbg{:width => "475"}
                                                %span.tips クックパッドでチャレンジしたいことをお書きください。
                                                %br
                                                  %textarea.required2{:cols => "50", :name => "free_answer3", :rows => "10"}
                                    %br
                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                        %tr
                                          %td.jobborder
                                            %table.entrytable{:cellpadding => "3", :cellspacing => "1", :width => "100%"}
                                              %tr
                                                %td.bgstyle{:colspan => "2"}
                                                  %h3.job 添付ファイル
                                              %tr{:valign => "top"}
                                                %td{:align => "left", :bgcolor => "#ffffff", :colspan => "2"}
                                                  ※ 推奨ファイル形式： PDF（Excel、HTML、PowerPoint、Word、テキストも可能です）
                                                  %br/
                                                  画像(GIF/JPEG/PNG) です。
                                                  %br/
                                                  ※ 1 ファイルあたりのファイルサイズは 2 MB までです。
                                              %tr
                                                %td.detailbg{:width => "150"}
                                                  %table
                                                    %tr
                                                      %td
                                                        %strong *
                                                      %td 履歴書
                                                %td.jobbg{:width => "475"}
                                                  %input{:maxlength => "256", :name => "upload_code1[]", :size => "50", :type => "file", :value => ""}
                                                    %input{:name => "upload_code1_SID", :type => "hidden", :value => "bf7cbe75ab91b741b5137069464c532e46c4039e"}
                                                      %input{:name => "upload_code1_EDIT", :type => "hidden", :value => ""}
                                              %tr
                                                %td.detailbg{:width => "150"}
                                                  %table
                                                    %tr
                                                      %td
                                                        %strong *
                                                      %td 職務経歴書
                                                %td.jobbg{:width => "475"}
                                                  %span.tips チームで取り組んだ場合、あなたの具体的な成果が分かるようにご記入ください。
                                                  %br
                                                    %input{:maxlength => "256", :name => "upload_code2[]", :size => "50", :type => "file", :value => ""}
                                                      %input{:name => "upload_code2_SID", :type => "hidden", :value => "9d50cc154814c64830ad0d5c52c631f579b5041a"}
                                                        %input{:name => "upload_code2_EDIT", :type => "hidden", :value => ""}
                                              %tr
                                                %td.detailbg{:width => "150"}
                                                  %table
                                                    %tr
                                                      %td
                                                      %td その他資料（任意）
                                                %td.jobbg{:width => "475"}
                                                  %input{:maxlength => "256", :name => "upload_code3[]", :size => "50", :type => "file", :value => ""}
                                                    %input{:name => "upload_code3_SID", :type => "hidden", :value => "ece2929d90a45930746d3624aff14e2fc88fdf6c"}
                                                      %input{:name => "upload_code3_EDIT", :type => "hidden", :value => ""}
                                      %br
                                        %input{:name => "_type", :type => "hidden", :value => "euk7wrfmb63scxqmar4s"}
                                          %input{:name => "entry_agreement", :type => "hidden", :value => "agree"}
                                            %input{:name => "job_code1", :type => "hidden", :value => "4"}
                                              %input{:name => "direct_entry", :type => "hidden", :value => ""}
                                                %input{:name => "def", :type => "hidden", :value => "0"}
                                                  %input{:name => "event_code", :type => "hidden", :value => "0"}
                                                    %table.entrytable{:cellpadding => "3", :cellspacing => "1", :width => "100%"}
                                                      %tr
                                                        %td.bgstyle{:align => "center"}
                                                          %input{:name => "submit[confirm]", :type => "submit", :value => "入力内容を確認して応募する"}
                    %td{:background => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/frame_right_shadow.gif", :width => "3"}
                      %img{:alt => "", :height => "1", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "3"}/
            %tr
              %td
                %img{:alt => "", :height => "3", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/frame_bottom_shadow.gif", :width => "100%"}/
          / /Start Footer/
          %table.jobfooter{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "620"}
            %tr
              %td
                %img{:alt => "", :height => "15", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/spacer.gif", :width => "1"}/
            %tr
              %td{:align => "right"}
                %img{:alt => "", :height => "8", :hspace => "5", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/cursor_green_up.gif", :width => "8"}
                  %a{:href => "#pagetop"} ページトップへ
            %tr
              %td
                %img{:alt => "", :height => "1", :src => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/images/img_line_dashed.gif", :width => "620"}/
    / START OF SmartSourceData Collector TAG
    %SCRIPT{:SRC => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/wt/fpc.js", :TYPE => "text/javascript"}
    %SCRIPT{:SRC => "https://js01.jposting.net/cookpad/u/euk7wrfmb63scxqmar4s/common/wt/sdc.js", :TYPE => "text/javascript"}
    / END OF SmartSourceData Collector TAG
    / /End Footer/
